{% extends "base.html" %}

{% block page_title %} About Page {% endblock page_title %}

{% block content %}
    <h2>About Page</h2>
    <article>
        <section>
            <p>
                Here’s what you can expect from this book:
            </p>
            <ol>
                <li><strong>Step-by-Step Learning:</strong> The book is structured to take you from zero to building your first web application. Each chapter builds on the previous one, ensuring you grasp fundamental concepts before moving on to more advanced topics.
                </li>
                <li><strong>Practical Examples:</strong> You'll work on real-world projects that reinforce your learning. By the end of the book, you’ll have built multiple web applications, giving you the confidence and skills to tackle your own projects.</li>
                <li><strong>Clear Explanations:</strong> William S. Vincent has a talent for explaining technical concepts in a straightforward manner. Even if you have no prior programming experience, you'll find his explanations easy to understand.
                </li>
                <li><strong>Best Practices:</strong> Throughout the book, you'll learn best practices for Django development, ensuring your code is clean, efficient, and scalable.
                </li>
                <li>
                    <strong>Community and Support:</strong> By learning Django, you’ll join a vibrant community of developers. The book also provides resources for further learning and ways to connect with other Django enthusiasts.
                </li>
            </ol>
        </section>
    </article>
{% endblock content %}