{% extends "base.html" %}

{% block page_title %} Home Page {% endblock page_title %}

{% block content %}
    <h2>Home Page</h2>
    <article>
        <section>
            <p>
                <strong>Welcome to the world of web development with Django!</strong> If you're new to programming or just starting with web development, <mark> <a href="https://djangoforbeginners.com/" target="_blank" rel="noopener noreferrer"> "Django for Beginners" by William S. Vincent" </a></mark> is the perfect guide to help you navigate this exciting journey.
            </p>
            <p>Django is a powerful and popular web framework for building web applications using Python. Known for its <strong>simplicity</strong> and <strong>robust features</strong>, Django is an excellent choice for both beginners and experienced developers. In "Django for Beginners," William S. Vincent breaks down complex concepts into manageable steps, making it accessible for anyone eager to learn.</p>
        </section>
        <hr>
        <section>
            <p>Whether you're looking to start a career in web development, build your own web applications, or just explore a new hobby, "Django for Beginners" is your gateway to mastering Django. Get ready to dive into the world of web development with this comprehensive and user-friendly guide!</p>
        </section>
    </article>
   
{% endblock content %}